<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>새미프로젝트</title>
</head>
<body>
    <div id="wrap">
        <header><h1>새미프로젝트 V1</h1></header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/member/join">회원가입</a></li>
                <li><a href="/member/login">로그인</a></li>
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/member/myinfo">회원정보</a></li>
            </ul>

        </nav>
        <hr>
        <main>
            <div><img src="/static/img/lion.png"></div>
        </main>
        <hr>
        <footer>

            <p>copyright &copy; 2024. sunSfeed. all righs reserved.</p>
        </footer>
    </div>
</body>
</html>

