<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>세미프로젝트</title>-->
<!--    <link rel="stylesheet" href="/static/css/bs5/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/static/css/project.css">-->
<!--    <style>-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <div id="wrap" class="container">-->
<!--        <header class="py-3"><h1>세미프로젝트 V1</h1></header>-->
<!--        <nav>  &lt;!&ndash;https://getbootstrap.kr/docs/5.3/components/navs-tabs/&ndash;&gt;-->
<!--            <ul class="nav nav-fill">-->
<!--                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link active" href="/member/join">회원가입</a></li>-->
<!--                <li class="nav-item"><a class="nav-link active" href="/member/login">로그인</a></li>-->
<!--                <li class="nav-item"><a class="nav-link active" href="/board/list">게시판</a></li>-->
<!--                <li class="nav-item"><a class="nav-link active" href="/member/myinfo">회원정보</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--        <hr>-->
<!--        <main> &lt;!&ndash;class="img-fluid" 이미지 유동성&ndash;&gt;-->
<!--            <div class="text-center"><img src="/static/img/lion.png" class="img-fluid"></div>-->
<!--        </main>-->
<!--        <hr>-->
<!--        <footer>-->
<!--            <p class="text-center">copyright &copy; 2024. sunSfeed. all righs reserved.</p>-->
<!--        </footer>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->

{% extends 'include/base.html' %}

{% block title %}홈페이지 - 세미프로젝트{% endblock %}

{% block content %}
<main> <!--class="img-fluid" 이미지 유동성-->
    <div class="text-center"><img src="/static/img/lion.png" class="img-fluid"></div>
</main>
{% endblock %}
