<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>새미프로젝트</title>
</head>
<body>
    <div id="wrap">
        <header><h1>새미프로젝트 V1</h1></header>
        <nav>
            <ul>
                <li><a href="/views/static">Home</a></li>
                <li><a href="/member/join">회원가입</a></li>
                <li><a href="/member/login">로그인</a></li>
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/member/myinfo">회원정보</a></li>
            </ul>

        </nav>
        <hr>
        <main>
            <h2>회원정보</h2>
            <table cellspacing="5">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>아이디</td>
                    <td>sunSfeed</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>김선욱</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>sun12wook11@gmail.com</td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td>2024.07.30</td>
                </tr>
                </tbody>
            </table>
        </main>
        <hr>
        <footer>

            <p>copyright &copy; 2024. sunSfeed. all righs reserved.</p>
        </footer>
    </div>
</body>
</html>